@import "utilities.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    scroll-behavior: smooth;
}

/*-------------Element styles--------------*/
body {
    background-color: var(--bg_color);
    font-family: var(--body_txt);
    font-size: var(--body_sz);
    color: var(--pure_white);
}

a {
    text-decoration: none;
    cursor: pointer;
}

header {
    position: relative;
    display: block;
    max-width: 100vw;
}

label {
    color: var(--light_black);
    font-weight: 900;
}

li a {
    color: var(--pure_white);
    line-height: 1.5;
    font-size: 1rem;
}

li:not(:last-child) {
    padding-right: 2rem;
}

li a:hover {
    color: var(--pink_lady);
    font-weight: bold;
    transition: all 500ms ease-in-out;
}

li a:active {
    color: var(--pink_lady);
}

h1 a {
    color: var(--pure_white);
    ;
}

/*-------------General class styles--------------*/
.container {
    margin: 0 2rem;
}
.someContainer {
    overflow: hidden;
}
.flex {
    display: flex;
    justify-content: space-between;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.sub_head {
    text-align: center;
    color: var(--light_black);
    font-family: var(--menu_txt);
    margin-bottom: 1.5rem;
}

.sub_head:hover {
    color: var(--menu_color);
    transition: all 500ms ease-in-out;
}

.sub_head::after {
    content: "";
    width: 30%;
    border-bottom: solid 3px var(--pink_lady);
    position: absolute;
    left: 35%;
    margin-top: 2.5rem;
    z-index: 1;
}

.small_heading {
    color: var(--light_black);
    font-family: var(--menu_txt);
    margin-bottom: 1rem;
}

.small_heading:hover {
    color: var(--menu_color);
    transition: all 500ms ease-in-out;
}

.small_heading::after {
    content: "";
    width: 60%;
    border-bottom: solid 3px var(--pink_lady);
    position: absolute;
    left: 30%;
    margin-top: .8rem;
    z-index: 1;
}

.btn {
    background-color: transparent;
    outline: none;
    border: none;
    background: var(--green_cal);
    padding: 1rem 2rem;
    color: var(--pure_white);
    font-size: .6em;
    border-radius: .4rem;
}

.open {
    display: block;
}

.close {
    display: none;
}

a i{
    color: var(--green_cal);
    padding-top: .3rem;
}
/*-------------navbar styles--------------*/
.navbar {
    position: fixed;
    width: 100%;
    background-color: var(--menu_color);
    line-height: 1;
    padding: 1rem 2rem;
    z-index: 1000;
}

.menu {
    line-height: 1;
    font-size: 2rem;
    cursor: pointer;
}

.logo {
    font-size: var(--logo_sz);
    font-family: var(--log_font);
}

.nav_item {
    display: inline-block;
    color: var(--pure_white);
}

.navigation {
    position: absolute;
    right: 0;
    top: 4.25rem;
    width: 0;
}

.nav_items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2rem 50%;
}

.nav_items li {
    padding-bottom: 1.5rem;
}

.nav_items li a {
    font-size: 1.5rem;
    color: var(--light_black);
    font-weight: 700;
}

.dock {
    display: grid;
    position: absolute;
    grid-gap: -10rem;
    text-align: center;
    right: 0;
    top: 4.25rem;
    height: 100vh;
    color: var(--light_black);
    background: var(--card_gray);
    width: 65%;
    z-index: 5;
    transition: all 500ms ease-in-out;
}

.pannel {
    display: block;
    position: absolute;
    width: 100vw;
    right: 0;
    top: 4.25rem;
    height: 100vh;
    background: #d9d9d98c;
}

/*-------------Hero section styles--------------*/
.hero {
    position: relative;
    overflow-x: hidden;
    padding-top: 3rem;
}

.hero_txt {
    position: absolute;
    top: 15rem;
    left: .8rem;
}

#image {
    margin-top: 2.5625rem;
    width: 520px;
    filter: grayscale();
}

.intro {
    color: var(--green_cal);
    font-family: var(--intro_txt);
    margin-bottom: 1.8rem;
}

.catch_txt {
    font-family: var(--catch_txt);
    color: var(--pink_lady);
    letter-spacing: .15em;
    line-height: 3.5rem;
    text-shadow: 1px 1px 4px var(--light_black);
}

.arrow {
    margin-top: 3.3rem;
    margin-left: 30%;
}

.arrow:hover {
    transform: scale(1.1, 1.1);
    transition: all 500ms ease-in-out;
}

/*-------------About_me section--------------*/
.about {
    margin-top: 3rem;
    padding: 1.5rem;
}

.skills {
    margin-top: 1rem;
}

.skills_images {
    display: none;
}

.skills_list {
    margin-top: 1rem;

}

.skills_list_item::before {
    content: "•";
    display: inline-block;
    color: var(--menu_color);
    padding-right: .5rem;
    width: 1em;
}

.about_detail,
.skill_detail {
    font-size: 1rem;
}

.about_detail {
    line-height: 2rem;
}

/*-------------Project Section--------------*/
.project_cards {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 100%;
}

.project_card {
    margin: 1rem auto;
    background-color: var(--card_gray);
    border-radius: 1.5rem;
    max-width: 80%;
}

.form_img {
    width: 100%;
    border-radius: 1.5rem 1.5rem 0 0;
}

.project_card_txt {
    padding: 1rem;
}

.form_head {
    color: var(--menu_color);
}

.form_info {
    font-size: 1rem;
    color: var(--menu_color);
}

button[type=submit] {
    margin: 1rem 30%;
}

/*-------------Contact_us--------------*/
.contact_us {
    margin: 2rem 4rem;
}

.contact_us--social_media {
    display: flex;
    justify-content: center;
    padding: 1rem;
    color: var(--green_cal);
    font-size: 1em;
}

.fa-brands,
.fa-solid {
    padding-right: 1rem;
}

.subscribe::after {
    width: 35%;
    left: 57%;
}

input[type=text],
input[type=email] {
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
    background-color: var(--card_gray);
    padding: .8rem;
    border-radius: .5rem;
    font-size: 1em;
    color: var(--light_black);
}

.form_btn {
    width: 100%;
    margin-top: 1rem;
    font-size: large;
}

.contact_us--pg {
    font-size: 1rem;
}

/*-------------Articles--------------*/
.article_card {
    border-radius: 0;
}

.article_img {
    border-radius: 0;
}

.article_head {
    font-weight: bolder;
    font-size: 1.5rem;
}

.article_btn {
    padding: 1rem 1rem;
}

/*-------------Footer section--------------*/
.footer {
    background-color: var(--menu_color);
}

.copy_right {
    text-align: center;
}
.date {
    display: inline;
}

/*-------------Media Queries--------------*/
/*-------------Tablets and Big smartphones--------------*/
@media screen and (min-width: 532px) {
    .hero_txt {
        top: 10rem;
    }

    #image {
        margin-left: 15rem;
    }

    .intro {
        font-size: 2em;
    }

    .catch_txt {
        font-size: 3em;
        line-height: 1em;
    }

    .arrow {
        margin-top: 3.3rem;
        margin-left: 30%;
    }

    .subscribe::after {
        width: 35%;
        left: 57%;
    }
}

/*-------------Laptops--------------*/
@media screen and (min-width: 768px) {
    .contact_us {
        margin: 4rem 0;
    }

    .hero {
        margin: auto 2rem;
    }

    #image {
        float: right;
    }

    .hero_txt {
        max-width: 70%;
        float: left;
    }

    .about_detail {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 3rem;
        grid-gap: 2rem;
    }

    .small_heading::after {
        content: "";
        width: 20%;
        border-bottom: solid 3px var(--pink_lady);
        position: absolute;
        left: 60%;
        margin-top: .8rem;
        z-index: 1;
    }

    .project_cards {
        grid-template-columns: repeat(3, 1fr);

    }

    .contact_all {
        display: flex;
        justify-content: space-around;
    }

    .contact_detail {
        max-width: 40%;
    }

    .subscribe::after {
        width: 15%;
        left: 80%;
    }

    .menu {
        display: none;
    }

    .navigation {
        display: block;
    }

    .article_btn {
        font-size: .6rem;
        padding: 1rem 1.2rem;
    }

    .sub_head {
        margin: 3.8rem 0;
    }

    .specific_margin {
        padding-top: 5rem;
        margin-bottom: 2rem;
    }

    .skills_details {
        display: none;
    }

    .skills_images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .skills_images>*:last-child {
        margin-top: 1rem;
    }

    .i-m-g {
        max-width: 5rem;
    }
}

/*-------------For Big TV's (HD Screens) --------------*/
