:root {
    /*------Font-family------*/
    --logo_font:'Montserrat', sans-serif;
    --catch_txt:'Noto Serif JP', serif;
    --intro_txt:'Abhaya Libre', serif;
    --menu_txt:'Inter', sans-serif;
    --body_txt:'Poppins', sans-serif;
    /*------Colors------*/
    --bg_color:#A09B9B;
    --menu_color:#07070A;
    --light_black:#1E1E1E;
    --green_cal:#008B69;
    --pure_white:#ffffff;
    --pink_lady:#A41C6D;
    --card_gray:#D9D9D9;
    /*------font-size------*/
    --catch_sz:3rem;
    --body_sz:1.5rem;
    --intro_sz:2rem;
    --logo_sz:2.25rem;
  }